---
import ButtonAnchor from "@/components/ButtonAnchor.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout
  title="Pagina no encontrada | I2TEC"
  description="Error al buscar la página">
  <div
    class="flex flex-col max-w-screen-sm w-full mx-auto items-center justify-center h-full"
  >
    <img
      class="max-w-64"
      alt="I2TEC Logo"
      loading="lazy"
      src="images/i2tec-logo.png"
    />
    <span class="text-9xl text-blue-500 font-black mb-4">Error 404</span>
    <div class="text-center text-3xl mb-8">
      No podemos encontrar la página que estás buscando.
    </div>
    <ButtonAnchor href="/" kind="primary">Volver al inicio</ButtonAnchor>
  </div>
</Layout>
