---
import ButtonAnchor from "@/components/ButtonAnchor.astro"
import DocumentLayout from "@/layouts/DocumentLayout.astro"
---

<DocumentLayout title="Pagina no encontrada | I2TEC">
  <main
    class="py-24 bg-black flex flex-col gap-12 items-center bg-gradient-to-b from-primary to-transparent h-full"
  >
    <img
      class="absolute top-16 brightness-[10] max-w-xs"
      alt="I2TEC Logo"
      loading="lazy"
      src="images/i2tec-logo.png"
    />
    <div class="flex flex-col justify-center items-center h-full">
      <span class="text-9xl text-amber-500 font-black mb-12">404</span>
      <div class="text-amber-500 font-bold text-3xl mb-4">
        La página no fue encontrada
      </div>
      <ButtonAnchor href="/" kind="secondary">Volver al inicio</ButtonAnchor>
    </div>
  </main>
</DocumentLayout>
