---
import PopularProjectsSection from "@/components/PopularProjectsSection.astro"
import QualitiesSection from "@/components/QualitiesSection.astro"
import HomeHeroSection from "@/components/HomeHeroSection.astro"
import PageLayout from "@/layouts/PageLayout.astro"
import ProjectsSection from "@/components/ProjectsSection.astro"
import ProjectsCarousel from "@/components/ProjectsCarousel.astro"
import { getProjects } from "@/services/project"
import ApproachSection from "@/components/ApproachSection.astro"

const res = (await getProjects(["populate=*", "sort[0]=createdAt:desc"])) ?? []
const projects = res && res.data ? res.data : []
---

<PageLayout title="Bienvenidos al centro I2TEC" description="">
  <main>
    <HomeHeroSection />
    <ProjectsSection class="mb-40">
      <ProjectsCarousel
        projects={projects.length > 0 ? projects.slice(0, 15) : []}
      />
    </ProjectsSection>
    <PopularProjectsSection
      projects={projects.length > 0
        ? projects
            .slice(0, 20)
            .filter((project) => project.attributes.popular === true)
        : []}
    />
    <QualitiesSection />
    <ApproachSection />
  </main>
</PageLayout>

<script>
import { sliderProyectsOptions } from "@/lib/constants"
import Swiper from "swiper"

new Swiper(
  "[data-carousel-id=\"home-projects-carousel\"]",
  sliderProyectsOptions,
)
</script>
