---
interface Props {
  image: string;
  title: string;
  description: string;
}

const { image, title, description } = Astro.props;
---

<div
  style={{
    backgroundImage: `url(${image})`,
  }}
  class="mx-auto grid place-content-center bg-cover bg-fixed bg-center bg-no-repeat py-40"
>
  <div class="container">
    <div
      class="flex w-full max-w-screen-sm flex-col gap-4 bg-white/75 p-8 shadow"
    >
      <h1 class="text-3xl font-bold">{title}</h1>
      <p class="HeroImage-descrition">{description}</p>
      <div class="HeroImage-action"></div>
    </div>
  </div>
</div>
