---
import DocumentLayout from "@/layouts/DocumentLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { getProjects } from "@/services/project";
import { parseDatePublished } from "@/lib/parseDatePublished";
import { BACKEND_URL } from "@/lib/constants";
import { firstValueArrayStringJoin } from "@/lib/firstValueArrayJoin";
import ButtonAnchor from "@/components/ButtonAnchor.astro";
import type { Project } from "@/models";
import ProjectsSection from "@/components/ProjectsSection.astro";
import ProjectsCarousel from "@/components/ProjectsCarousel.astro";

interface Props {
  project: Project;
  projects: Project[];
}

export const getStaticPaths = async () => {
  const { data: projects } = await getProjects(["populate=*"]);

  return projects?.map((project) => ({
    params: {
      slug: project.attributes.slug,
    },
    props: {
      project,
      projects,
    },
  }));
};

const { project, projects } = Astro.props;

const published = parseDatePublished(project?.attributes.publishedAt!);
---

<DocumentLayout title="">
  <PageLayout>
    <main>
      <section class="section pt-16">
        <div class="container max-w-screen-lg">
          <h1 class="mb-8 text-5xl font-bold text-primary">
            {project?.attributes.title}
          </h1>
          <div class="flex flex-col gap-4 mb-8">
            <div class="flex gap-4">
              <div class="font-bold">Publicado:</div>
              <time datetime={published}>{published}</time>
            </div>
            <div class="flex gap-4">
              <div class="font-bold">Autores:</div>
              <div class="flex flex-col">
                {
                  project!.attributes.authors!.data.map((author) => {
                    const { first_name, last_name } = author.attributes;
                    const authorName = firstValueArrayStringJoin(
                      first_name,
                      last_name
                    );
                    return <div>{authorName}</div>;
                  })
                }
              </div>
            </div>
          </div>
          <p class="text-[1.05rem] mb-32">{project!.attributes.description}</p>
          <figure class="mt-8 relative overflow-hidden aspect-video w-full">
            <img
              class="w-full h-full object-cover object-center"
              src={BACKEND_URL.concat(
                project!.attributes.image!.data.attributes.formats.medium.url
              )}
              alt={project!.attributes.title}
            />
            <ButtonAnchor
              target="_blank"
              class="absolute bottom-0 right-0 h-auto px-12 py-6 z-[1]"
              href={project!.attributes.repositoryURL}
              kind="primary"
            >
              Vér proyecto
            </ButtonAnchor>
          </figure>
        </div>
      </section>
      <ProjectsSection>
        <ProjectsCarousel
          data-carousel-id="projects-carousel"
          projects={projects
            ? projects.slice(0, 20).filter(({ id }) => id !== project.id)
            : []}
        />
      </ProjectsSection>
    </main>
  </PageLayout>
</DocumentLayout>

<script>
  import Swiper from "swiper";
  import { sliderProyectsOptions } from "@/lib/constants";

  new Swiper('[data-carousel-id="projects-carousel"]', sliderProyectsOptions);
</script>
